In [3]:
import pandas as pd

preds = pd.read_csv('./SRoutput/weekly_preds/predictions_12_1_2018')
new_preds = pd.read_csv('./SRoutput/weekly_preds/predictions_12_1_2018_NF')

cols = ['XG', 'Keras', 'Keras_proba']
ext = new_preds[cols]
ext.columns = ['XG_new', 'K_new', 'Kpr_new']
preds.join(ext)

,Unnamed: 0,Date,Team,Opp,XG,Keras,Keras_proba,XG_new,K_new,Kpr_new
0,0,2018-11-30 19:00:00,Buffalo,Northern Illinois,1,1.0,0.712283,1,1.0,0.698686
1,1,2018-11-30 20:00:00,Utah,Washington,0,0.0,0.479492,0,0.0,0.460290
2,2,2018-12-01 12:00:00,Akron,South Carolina,0,0.0,0.199342,0,0.0,0.237715
3,3,2018-12-01 16:00:00,Alabama,Georgia,1,1.0,0.780219,1,1.0,0.859625
4,4,2018-12-01 13:30:00,Alabama-Birmingham,Middle Tennessee State,0,0.0,0.249796,0,0.0,0.268924
5,5,2018-12-01 20:00:00,Clemson,Pittsburgh,1,1.0,0.957843,1,1.0,0.970244
6,6,2018-12-01 12:00:00,Drake,Iowa State,0,0.0,0.039457,0,0.0,0.059318
7,7,2018-12-01 12:00:00,East Carolina,North Carolina State,0,0.0,0.118170,0,0.0,0.199156
8,8,2018-12-01 19:45:00,Fresno State,Boise State,0,0.0,0.332354,0,0.0,0.407805
9,9,2018-12-01 12:00:00,Louisiana,Appalachian State,0,0.0,0.291955,0,0.0,0.343365
10,10,2018-12-01 12:00:00,Marshall,Virginia Tech,0,0.0,0.403626,0,0.0,0.347349
11,11,2018-12-01 15:30:00,Memphis,Central Florida,0,0.0,0.074584,0,0.0,0.035236
12,12,2018-12-01 14:00:00,Norfolk State,Liberty,0,0.0,0.066692,0,0.0,0.065842
13,13,2018-12-01 20:00:00,Northwestern,Ohio State,0,0.0,0.313826,0,0.0,0.328405
14,14,2018-12-01 12:00:00,Oklahoma,Texas,1,1.0,0.769352,1,1.0,0.859692
15,15,2018-12-01 15:00:00,Stanford,California,0,0.0,0.488701,0,0.0,0.481026
16,16,2018-12-08 15:00:00,Army,Navy,1,1.0,0.903325,1,1.0,0.924367